<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <marquee class="col-12 mt-5 mb-5 h1 fw-bold text-white-with-black-outline">
                FPT Cinema
            </marquee>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="">
                            <a class="nav-link fw-bold" data-bs-toggle="collapse" href="#heThongCollapse"
                                aria-expanded="false" aria-controls="heThongCollapse">
                                GÓC ĐIỆN ẢNH
                            </a>
                        </p>
                        <div class="collapse show ps-4" id="heThongCollapse">
                            <p>
                                Thể loại phim
                                <br><br>
                                Bình luận phim
                                <br><br>
                                Blog điện ảnh
                                <br><br>
                               Phim hay tháng
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>
                            <a class="nav-link fw-bold" data-bs-toggle="collapse" href="#chinhSachCollapse"
                                aria-expanded="false" aria-controls="chinhSachCollapse">
                                HỖ TRỢ
                            </a>
                        </p>
                        <div class="collapse show ps-4" id="chinhSachCollapse">
                            <p>
                                Góp ý
                                <br><br>
                                Sales / Services
                                <br><br>
                                Rạp / Giá vé
                                <br><br>
                                Tuyển dụng
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>
                            <a class="nav-link fw-bold" data-bs-toggle="collapse" href="#thongTinCollapse"
                                aria-expanded="false" aria-controls="thongTinCollapse">
                                KẾT NỐI CINEMA
                            </a>
                        </p>
                        <div class="collapse show ps-4" id="thongTinCollapse">
                            <p class="h1">
                                <i class="bi bi-facebook"></i>
                                <i class="bi bi-youtube"></i>
                                <i class="bi bi-instagram"></i>
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .text-white-with-black-outline {
            color: white;
            text-shadow:
                -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;
        }
    </style>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>