.cart-icon-container {
    position: relative;
    display: inline-block;
  }
  
  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 10px; /* Kích thước mong muốn */

  }
  
  .bi-bag-fill {
    vertical-align: middle;
  }