<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <div class="row text-center">
      <div class="text-center h1 fw-bold mb-3">_____________________</div>
      <img src="/utilities/images/banner/Baner1.webp" alt="">
      <img src="/utilities/images/banner/baner2.webp" alt="">
      <div class="mt-3 mb-3 h5">
        <p>
          Con đường chinh phục Streetwear của thương hiệu DirtyCoins được bắt đầu từ 2017 tại Sài Gòn - Việt Nam, xuất
          phát ý tưởng về một thương hiệu Việt mang văn hóa đường phố. Với những kinh nghiệm gói ghém từ thương hiệu
          tiền thân The Yars Shop, anh Khoa Sen đã đã bắt đầu cuộc hành trình DirtyCoins cùng những người bạn GenZ đầy
          nhiệt huyết và sáng tạo.
          <br><br>
          Không quá ồn ào hay phô trương, ‘DirtyCoins’ tượng trưng cho những giá trị nguyên bản nhất của cuộc sống: đó
          là hiện thực gai góc của những ‘đồng tiền xương máu’, của giá trị lao động đầy mồ hôi, bụi bẩn và nước mắt.
          DirtyCoins trở thành một thương hiệu của tinh thần thời trang mạnh mẽ, táo bạo nhưng vẫn gần gũi và dễ tiếp
          cận rộng rãi. Không dừng lại ở đó, DirtyCoins muốn vượt qua giới hạn của một thương hiệu thời trang đơn thuần
          và trở thành một biểu tượng về văn hóa và phong cách sống của những con người trẻ tuổi.
        </p>
      </div>
      <div class="mt-3 mb-3 h5">
        <p>
          Hãy cùng chúng tôi nhìn lại những dấu ấn trong chặng đường vừa qua. <br>
        </p>
      </div>
      <img src="/utilities/images/banner/2017.webp" alt="">
      <div class="mt-3 mb-3 h5">
        <p>
          Thương hiệu DirtyCoins chính thức ra đời, với cửa hàng đầu tiên tại đường Điện Biên Phủ, quận Bình Thạnh,
          Thành phố Hồ Chí Minh.
          Cửa hàng thứ 2 tại đường Bắc Hải, quận 10, thành phố Hồ Chí Minh.
        </p>
      </div>
      <img src="/utilities/images/banner/2018.webp" alt="">
      <div class="mt-3 mb-3 h5">
        <p>
          Thương hiệu DirtyCoins chính thức ra đời, với cửa hàng đầu tiên tại đường Điện Biên Phủ, quận Bình Thạnh,
          Thành phố Hồ Chí Minh.
          Cửa hàng thứ 2 tại đường Bắc Hải, quận 10, thành phố Hồ Chí Minh.
        </p>
      </div>
      <img src="/utilities/images/banner/milestones.webp" alt="">
      <div class="mt-3 mb-3 h5">
        <p>
          Cửa hàng thứ 3 tại quận 1, thành phố Hồ Chí Minh. <br>
          Cửa hàng thứ 4 tại đường phố Huế, quận Hai Bà Trưng, Hà Nội.
        </p>
      </div>
      <img src="/utilities/images/banner/2019.webp" alt="">
      <div class="mt-3 mb-3 h5">
        <p>
          Cửa hàng thứ 5 tại số 15 Phan Trung, Biên Hoà. <br>
          Cửa hàng thứ 6 tại 49 Hồ Đắc Di, Hà Nội. <br>
          Cửa hàng thứ 7 tại Nguyễn Sơn, quận Tân Phú, thành phố Hồ Chí Minh. <br>
          Cửa hàng thứ 8 tại Khúc Thừa Dụ, quận Cầu Giây, Hà Nội. <br>
          Cửa hàng thứ 9 tại 52 Mậu Thân, Thành phố Cần Thơ. <br>
          Cửa hàng thứ 10 tại 41 Quang Trung, Gò Vấp, Thành phố Hồ Chí Minh. <br>
          Cửa hàng thứ 11 tại Lý Tự Trọng, Quận 1, Thành phố Hồ Chí Minh. <br>
          Cửa hàng thứ 12 tại Lê Lai, Quận 1, Thành phố Hồ Chí Minh. <br>
        </p>
      </div>
      <img src="/utilities/images/banner/2020.webp" alt="">
      <div class="mt-3 mb-3 h5">
        <p>
          Cửa hàng thứ 13 được mở tại Vincom Bà Triệu, quận hai Bà Trưng, Hà Nội. <br>
          Chúng tôi tự hào được vinh danh Thương hiệu Thời trang Được Yêu thích Nhất tại Lễ trao giải WECHOICE AWARD năm
          2020. <br>
          Là thương hiệu thời trang Việt Nam đầu tiên đạt 1 triệu người theo dõi trên 2 nền tảng mạng xã hội Facebook và
          Instagram. <br>
        </p>
      </div>
      <img src="/utilities/images/banner/2021.webp" alt="">
      <div class="mt-3 mb-3 h5">
        <p>
          Trải qua giai đoạn giãn cách xã hội suốt hơn 4 tháng do đại dịch Covid-19, để duy trì hoạt động ở giai đoạn
          khó khăn này kèm với nhiều thay đổi và biến chuyển khó lường của thị trường, nên lãnh đạo công ty quyết định
          rút gọn số lượng cửa hàng còn 8. Giai đoạn cuối 2021 cho đến Quý 2 - 2022 là giai đoạn chúng tôi biến chuyển
          tích cực về mặt cơ cấu sản phẩm và tuyển dụng nhân sự.
        </p>
      </div>
      <img src="/utilities/images/banner/2022.webp" alt="">
      <div class="mt-3 mb-3 h5">
        <p>
          Khai trương cửa hàng thứ 9 tại 28 Yersin, Bình Dương. <br>
          Cửa hàng Flagship tại 561 Sư Vạn Hạnh được đầu tư với một diện mạo hoàn toàn mới.
        </p>
      </div>
      <img src="/utilities/images/banner/vision.webp" alt="">
      <div class="mt-3 mb-3 h5">
        <p>
          Với sứ mệnh <span class="text-info">“DirtyCoins là nơi thể hiện cái tôi và đóng góp giá trị cho văn hoá thời trang đường phố” </span> chúng
          tôi đã nâng tầm thương hiệu dựa trên những giá trị cốt lõi và bền vững nhất, hướng đến đến mục tiêu trở thành
          <span class="text-warning">TOP 1 VIETNAMESE STREETWEAR BRAND</span>.
        </p>
      </div>
      <img src="/utilities/images/banner/vision-1.webp" alt="">
      <div class="mt-3 mb-3 h5">
        <p>
          Chúng tôi khuyến khích sự sáng tạo không ngừng của từng thành viên trong doanh nghiệp, giải quyết việc làm cho
          hơn hàng trăm nhân sự mỗi năm với môi trường làm việc năng động, đội ngũ đoàn kết và đầy nhiệt huyết.
          <br><br>
          Những sản phẩm của DirtyCoins mang đậm dấu ấn kết hợp giữa văn hóa phương Tây và Phương Đông, xác lập một ngôn
          ngữ sáng tạo rất riêng, đầy mạo hiểm và mới mẻ. Chất liệu cảm hứng được DirtyCoins chắt lọc từ sự đa sắc, đa
          diện của dòng chảy cuộc sống hàng ngày; pha trộn cùng cảm hứng nghệ thuật đương đại để tạo nên một tiểu vùng
          văn hóa rất riêng của DirtyCoins.
        </p>
      </div>
      <img src="/utilities/images/banner/vision-2.webp" alt="">
    </div>
  </div>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>